<a href="https://colab.research.google.com/github/sagar-dhital/Sagar.Dhital.BDAT1004PS-/blob/main/BDAT1004PS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from html.parser import HTMLParser

In [2]:
#Question 1
# Loading Dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users = pd.read_csv(url, sep='|')

#Analysis:
#Mean age per occupation
users.groupby('occupation')['age'].mean()

#Male ratio per occupation:
male_ratio = users[users['gender'] == 'M'].groupby('occupation').size() / users.groupby('occupation').size()
male_ratio.sort_values(ascending=False)

#Minimum and maximum age per occupation:
users.groupby('occupation')['age'].agg(['min', 'max'])

#Mean age by occupation and gender:
users.groupby(['occupation', 'gender'])['age'].mean()

#Percentage of men and women:
gender_percentage = users.groupby(['occupation', 'gender']).size() / users.groupby('occupation').size() * 100
gender_percentage

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
dtype: float64

In [3]:
#Question 2: Euro Teams
#Loading Dataset
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv'
euro12 = pd.read_csv(url)

#Analysis:
#Select Goal column:
euro12['Goals']

#Number of teams:
euro12['Team'].nunique()

#Columns in dataset:
len(euro12.columns)

#Sort by Red Cards and Yellow Cards:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=[False, False])

#Filter teams with >6 goals:
euro12[euro12['Goals'] > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [5]:
#Question 3: Housing
#Create Data:
series1 = pd.Series(np.random.randint(1, 5, 100))
series2 = pd.Series(np.random.randint(1, 4, 100))
series3 = pd.Series(np.random.randint(10000, 30001, 100))

#Combine into DataFrame:
df = pd.DataFrame({'bedrs': series1, 'bathrs': series2, 'price_sqr_meter': series3})

In [8]:
#Question 4: Wind Statistics
#Load Dataset:
wind = pd.read_csv('wind.txt', delim_whitespace=True)

#Fix Dates:
wind['Date'] = pd.to_datetime(wind[['Yr', 'Mo', 'Dy']])
wind.set_index('Date', inplace=True)

#Missing Values:
wind.isnull().sum()

#Statistics:
wind.describe()

<ipython-input-8-421c553370e4>:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  wind = pd.read_csv('wind.txt', delim_whitespace=True)

FileNotFoundError: [Errno 2] No such file or directory: 'wind.txt'

In [ ]:
#Question 5: Chipotle Dataset
#Load Dataset:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

#Analysis:
#Most ordered item:
chipo.groupby('item_name')['quantity'].sum().idxmax()

#Revenue:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)
chipo['total_price'] = chipo['item_price'] * chipo['quantity']
chipo['total_price'].sum()

In [ ]:
#Question 6: Marriages and Divorces Line Plot
#Load Dataset
df = pd.read_csv('us-marriages-divorces-1867-2014.csv')

#Plot
plt.plot(df['Year'], df['Marriages'], label='Marriages')
plt.plot(df['Year'], df['Divorces'], label='Divorces')
plt.legend()
plt.show()

In [9]:
#Question 7: Bar Chart for 1900, 1950, and 2000
subset = df[df['Year'].isin([1900, 1950, 2000])]
plt.bar(subset['Year'], subset['Marriages'], label='Marriages')
plt.bar(subset['Year'], subset['Divorces'], label='Divorces')
plt.legend()
plt.show()

KeyError: 'Year'

In [ ]:
#Question 8: Deadliest Actors Bar Chart
actors = pd.read_csv('actor_kill_counts.csv')
actors.sort_values(by='Kill_Count', ascending=False, inplace=True)
plt.barh(actors['Actor'], actors['Kill_Count'])
plt.show()